@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

html,
body {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    color: black;
    background-color: #aacecc;
    width: auto;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

h1,
h2 {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #cccccc;
}

header {
    background-color: #163635;
}

.logo-style {
    font-weight: 300;
}

#logo {
    float: left;
    font-size: 400%;
    margin: 15px;
}

#menu {
    clear: left;
    font-size: 150%;
    bottom: 0;
    overflow-x: hidden;
}

#menu li {
    display: inline-block;
    text-align: center;
    width: 32%;
}

#menu a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #cccccc;
    background-color: #163635;
    padding: 10px;
}

#menu a:hover {
    background-color: #41836D;
    border-radius: 45px;
}

/*Introduction*/
.home {
    position: relative;
    margin-bottom: 40px;
}

.about-me {
    font-size: 120%;
    background-color: #163635;
    margin: 0 25px;
    display: block;
    float: right;
    border-radius: 15px;
    padding: 15px;
    color: #cccccc;
}

.about-me h2 {
    text-align: left;
    padding: 15px;
}

.about-me p {
    font-size: 120%;
    padding: 15px;
    line-height: 20px;
    text-align: justify;
}

.about-me p:last-child {
    line-height: 1.4;
}

.cover-image {
    height: 450px;
}

.about-me-head {
    width: 66%;
}

.right-cover-image {
    width: 66%;
}

#selfie-image {
    background: url('../images/gyula-kunsagi.png') center center no-repeat;
    width: 320px;
    height: 320px;
    padding: 5px;
    border-style: solid;
    border-color: #163635;
    border-width: 5px;
    border-radius: 15%;
    margin: 30px 15px;
}

/*Services*/
.services {
    position: relative;
    padding: 15px;
}

.content {
    font-size: 120%;
    margin-top: 15px;
    display: inline-block;
    background-color: #163635;
    border-radius: 15px;
    color: #cccccc;
}

.content h2 {
    text-align: left;
    padding: 15px;
}

.content p {
    font-size: 120%;
    padding: 15px;
    text-align: justify;
    line-height: 1.4;
}

.about-me-head {
    min-width: calc(100px - 320px);
}

/*References section*/
.references {
    position: relative;
    padding: 15px;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container {
    margin: 15px;
    background-color: #163635;
    padding: 15px;
    color: #cccccc;
    border-radius: 15px;
    line-height: 150%;
    text-transform: uppercase;
    width: 90%;
    margin: 30px auto;
    font-size: 120%;
}

.video-container>* {
    margin-bottom: 60px;
}

.video-container h3 {
    font-size: 120%;
    margin: 15px 0;
    text-align: center;
    letter-spacing: 4px;
}

/*Contact section*/
.contact {
    position: relative;
}

.contact-me {
    font-size: 120%;
    background-color: #163635;
    border-radius: 15px;
    margin: 30px 15px;
    color: #cccccc;
    max-width: 400px;
    float: right;
    padding: 15px;
    font-weight: bold;
    letter-spacing: 3px;
}

.contact-me-head {
    max-width: 445px;
}

.text-input {
    width: 100%;
    height: 35px;
    margin: 5px 0 10px 0;
    border: 0.5px solid;
    border-radius: 5px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#contact-image {
    background: url('../images/green-screen-photo.jpeg') center center no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 450px;
    height: 650px;
    padding: 5px;
    border-style: solid;
    border-color: #163635;
    border-width: 5px;
    border-radius: 5%;
    margin: 30px 15px;
}

.contact-green-right {
    width: 66%;
}

.contact-button {
    margin: 15px 0;
    background: none;
    padding: 10px 15px;
    font-size: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    cursor: pointer;
    background-color: #163635;
    color: #cccccc;
    display: block;
    border-radius: 10px;
    border: 1px solid;
}

.contact-button :hover {
    background-color: #163635;
    color: #cccccc;
}

/*Footer*/
.social {
    text-align: center;
}

.social>li {
    display: inline;
}

.social i {
    font-size: 300%;
    color: #cccccc;
    margin: 1%;
}

.social i:hover {
    background-color: #41836D;   
}

footer {
    position: relative;
    background-color: #163635;
    clear: both;
    border: none;
    padding: 1em;
    text-align: center;
    margin-top: 15px;
}

@media screen and (max-width:992px) {
    .about-me-head {
        float: none;
        max-width: 90%;
    }

    section#home {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    section.services.clear {
        max-width: 90%;
        margin: 0 auto;
    }

    .contact-me-head {
        float: none;
        max-width: 90%;
    }

    section#contact-me {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:420px) {
    .about-me {
        position: relative;
        width: 100%;
        height: fit-content;
    }

    .cover-image {
        position: relative;
        width: 100%;
    }
}