@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    font-family:'Barlow Condensed', sans-serif;
    color: black;
    background-color: #aacecc;
    width: auto;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

/*#wrapper{
    min-height: calc(100vh - 200px);
}*/

h1, h2{
    font-family:'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing:4px;
    color: #cccccc;
}


header{
    background-color: #163635;
}

.logo-style{
    font-weight: 300;
}

#logo{
    float: left;
    font-size: 400%;
    margin: 15px;
}

#menu{
    clear: left;
    font-size: 150%;
    bottom: 0;
    overflow-x: hidden;
}

#menu li{
    display: inline-block;
    text-align: center;
    width: 33%;
}

#menu a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #cccccc;
    background-color: #163635;
    padding: 10px;
}

#menu a:hover{
    background-color: #41836D;
    border-radius: 45px;
    /*padding: 2px;*/
}

/*Introduction*/

.home{
    position: relative;
    /*height: 650px;*/
    margin-bottom: 40px;
}

.about-me{
    font-size: 120%;
    /*margin: 25px;*/
    /*position: absolute;*/
    /*display: inline-block;*/
    /*height: 550px;*/
    background-color: #163635;
    margin: 0 25px;
    display: block;
    float: right;
    border-radius: 15px;
    padding: 15px;
    color: #cccccc;
}

.about-me h2{
    text-align: left;
    padding: 15px;
}

.about-me p{
    font-size: 120%;
    padding: 15px;
    line-height: 20px;
    text-align: justify;
}
about-me p:last-child{
    line-height: 1.4;
}

.cover-image{
    /*position: absolute;*/
    height: 450px;
}

.about-me-head{
   /* left: 66%;
    width: 33%;*/
}

.right-cover-image{
    width: 66%;
}

#selfie-image{
    background: url('../images/gyulakunsagi.png') center center no-repeat;
    width: 300px;
    height: 300px;
    padding: 5px;
    border-style: solid;
    border-color: #163635;
    border-width: 5px;
    border-radius: 15%;
    margin: 30px 15px;
}


/*Services*/

.services{
    position: relative;
    /*height: 450px;*/
    padding: 15px;

}

.content{
    font-size: 120%;
    margin-top: 15px;
    position: absolute;
    display: inline-block;
    height: 350px;
    background-color: #163635;
    border-radius: 15px;
}

.content h2{
    text-align: left;
    padding: 15px;
}

.content p{
    font-size: 120%;
    padding: 15px;
    line-height: 20px;
    text-align: justify;
}

.about-me-head{
    left: 66%;
    width: 33%;
}

/*References section*/

.references{
    position: relative;
    height: 1250px;
    padding: 15px;

}
    .video-container{
        margin: 15px;
        background-color: #163635;
        padding: 15px;
        color: #cccccc;
        border-radius: 15px;
        line-height: 150%;
        text-transform: uppercase;
        /*float: right;*/
        width: 90%;
        margin: 30px 15px;

        font-size: 120%;
        position: absolute;
        display: inline-block;
        /*height: 350px;*/
    }

    .video-container p{
        font-size: 120%;
        margin: 15px 0;
        text-align: center;
    }

    /*Contact section*/


    .contact{
        position: relative;
        height: 450px;
    }

    .contact-me{
        font-size: 120%;
        /*margin-top: 15px;*/
        position: absolute;
        display: inline-block;
        height: 450px;
        background-color: #163635;
        border-radius: 15px;

        margin: 30px 15px;
        color: #cccccc;
        max-width: 400px;
        /*float: left;*/
        padding: 15px;
        font-weight: bold;
        letter-spacing: 3px;
    }

    .contact-me-head{
        left: 66%;
        width: 33%;
    }

    .text-input{
        width: 100%;
        height: 35px;
        margin: 5px 0 10px 0;
        border: 0.5px solid;
        border-radius: 5px;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
        font-weight: bold;
    }

    #contact-image{
        background: url('../images/green-screen-photo.jpeg') center center no-repeat;

        width: 450px;
        height: 650px;
        padding: 5px;
        border-style: solid;
        border-color: #163635;
        border-width: 5px;
        border-radius: 5%;
        margin: 30px 15px;
    }

    .contact-green-image{
        position: absolute;
        height: 450px;
    }

    .contact-green-right{
        width: 66%;
    }
    /*
    .contact-form{
        margin: 30px 15px;
        color: #cccccc;
        background-color: #163635;
        max-width: 400px;
        float: left;
        padding: 15px;
        border-radius: 15px;
        font-size: 120%;
        font-weight: bold;
        letter-spacing: 3px;
        height: 450px;

        position: absolute;
        display: inline-block;

    } 
*/
    .contact-button{
        margin: 15px 0;
        background: none;
        padding: 10px 15px;
        font-size: 20px;
        font-family: 'Barlow Condensed', sans-serif;
        cursor: pointer;
        background-color: #163635;
        color: #cccccc;
        display: block;
        border-radius: 10px;
        border: 1px solid;
    }

    .contact-button :hover{
        background-color: #163635;
        color: #cccccc;
    }

/*Footer*/


.social{
    text-align: center;
}
.social > li{
    display: inline;
}

.social i {
    font-size: 300%;
    color: #cccccc;
    margin: 1%;
}

footer {
    position: relative;
    height: 80px;
    background-color: #163635;
    clear: both;    
    border: none;
    padding: 1em;
    text-align: center;
    margin-top: 15px;
}
@media screen and (max-width:420px){
    .home{
        position: relative;
        display: inline;
    }
    .about-me{
        position: relative;
        width: 100%;
        left: 0;
        height: fit-content;
    }
    .cover-image{
        position: relative;
        width: 100%;
        left: 0;
    }

}