@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family:'Barlow Condensed', sans-serif;
    color: black;
    background-color: #aacecc;
    width: auto;
}

#wrapper{
    min-height: calc(100vh - 200px);
}

h1, h2{
    font-family:'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing:4px;
    color: #cccccc;
}


header{
    background-color: #163635;
}

.logo-style{
    font-weight: 300;
}
#logo{
    float: left;
    font-size: 400%;
    margin: 15px;
}

#menu{
    clear: left;
    font-size: 150%;
    bottom: 0;
    overflow-x: hidden;
}

#menu li{
    display: inline-block;
    text-align: center;
    width: 33%;
}

#menu a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: cccccc;
    background-color: #163635;
    padding: 10px;
}

#menu a:hover{
    background-color: #41836D;
}

/*Introduction*/

.home{
    position: relative;
    height: 450px;

}

.about-me{
    font-size: 120%;
    margin-top: 15px;
    position: absolute;
    display: inline-block;
    height: 450px;
    background-color: #163635;
    border-radius: 15px;
}

.about-me h2{
    text-align: left;
    padding: 15px;
}

.about-me p{
    font-size: 120%;
    padding: 15px;
    line-height: 20px;
    text-align: justify;
}

.cover-image{
    position: absolute;
    height: 450px;
}

.about-me-head{
    left: 66%;
    width: 33%;
}

.right-cover-image{
    width: 66%;
}

#selfie-image{
    background: url('../images/gyulakunsagi.png') center center no-repeat;
}

